In [27]:
library(repr)
library(tidyverse)
library(tidymodels)
library(dplyr)
library(lubridate)
library(caret)
options(repr.matrix.max.rows = 10)

In [28]:
player_url <- "https://drive.google.com/uc?export=download&id=1Mw9vW0hjTJwRWx0bDXiSpYsO3gKogaPz"
session_url <- "https://drive.google.com/uc?export=download&id=14O91N5OlVkvdGxXNJUj5jIsV5RexhzbB"
download.file(player_url, "data/players.csv")
download.file(session_url, "data/sessions.csv")

In [82]:
players <- read_csv("data/players.csv")
sessions <- read_csv("data/sessions.csv")

Rows: 196 Columns: 9
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (4): experience, hashedEmail, name, gender
dbl (2): played_hours, age
lgl (3): subscribe, individualId, organizationName

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.
Rows: 1535 Columns: 5
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (3): hashedEmail, start_time, end_time
dbl (2): original_start_time, original_end_time

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

at first we should combine the two tables together by using the hashedEmail
after combine, We are not interested in hashemail, so remove this column,and got a new table named players_sessions

In [101]:
players_sessions <- merge(players,sessions,by="hashedEmail")  |> select(-hashedEmail)

In [102]:
players_sessions$original_start_time <- as.POSIXct(players_sessions$original_start_time / 1000, origin = "1970-01-01", tz = "UTC")
players_sessions$original_end_time <- as.POSIXct(players_sessions$original_end_time / 1000, origin = "1970-01-01", tz = "UTC")

In [103]:
players_sessions

     experience subscribe played_hours name    gender age individualId
1    Regular     TRUE     1.5          Isaac   Male   20  NA
2    Regular     TRUE     1.5          Isaac   Male   20  NA
3    Pro        FALSE     0.4          Lyra    Male   21  NA
4    Beginner    TRUE     0.1          Osiris  Male   17  NA
5    Regular     TRUE     5.6          Winslow Male   17  NA
⋮    ⋮          ⋮         ⋮            ⋮       ⋮      ⋮   ⋮
1531 Amateur    TRUE      56.1         Dana    Male   23  NA
1532 Amateur    TRUE      56.1         Dana    Male   23  NA
1533 Amateur    TRUE      56.1         Dana    Male   23  NA
1534 Amateur    TRUE       0.1         Fatima  Male   17  NA
1535 Beginner   TRUE       1.1         Caden   Male   20  NA
     organizationName start_time       end_time         original_start_time
1    NA               23/05/2024 00:22 23/05/2024 01:07 2024-05-22 23:20:00
2    NA               22/05/2024 23:12 23/05/2024 00:13 2024-05-22 23:20:00
3    NA               28/06/2024 04:28 28/06/2024 04:58 2024-06-28 04:46:40
4    NA               19/09/2024 21:01 19/09/2024 21:12 2024-09-19 21:06:40
5    NA               30/08/2024 03:40 30/08/2024 04:04 2024-08-30 03:53:20
⋮    ⋮                ⋮                ⋮                ⋮
1531 NA               03/07/2024 06:22 03/07/2024 06:27 2024-07-03 07:00:00
1532 NA               25/07/2024 07:32 25/07/2024 07:36 2024-07-25 06:46:40
1533 NA               28/07/2024 15:36 28/07/2024 15:57 2024-07-28 15:20:00
1534 NA               14/09/2024 15:33 14/09/2024 15:42 2024-09-14 16:06:40
1535 NA               26/04/2024 09:11 26/04/2024 10:23 2024-04-26 08:26:40
     original_end_time
1    2024-05-23 02:06:40
2    2024-05-22 23:20:00
3    2024-06-28 04:46:40
4    2024-09-19 21:06:40
5    2024-08-30 03:53:20
⋮    ⋮
1531 2024-07-03 07:00:00
1532 2024-07-25 06:46:40
1533 2024-07-28 15:20:00
1534 2024-09-14 16:06:40
1535 2024-04-26 11:13:20