In [27]:
library(repr)
library(tidyverse)
library(tidymodels)
library(dplyr)
library(lubridate)
library(caret)
options(repr.matrix.max.rows = 10)

In [28]:
player_url <- "https://drive.google.com/uc?export=download&id=1Mw9vW0hjTJwRWx0bDXiSpYsO3gKogaPz"
session_url <- "https://drive.google.com/uc?export=download&id=14O91N5OlVkvdGxXNJUj5jIsV5RexhzbB"
download.file(player_url, "data/players.csv")
download.file(session_url, "data/sessions.csv")

In [82]:
players <- read_csv("data/players.csv")
sessions <- read_csv("data/sessions.csv")

Rows: 196 Columns: 9
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (4): experience, hashedEmail, name, gender
dbl (2): played_hours, age
lgl (3): subscribe, individualId, organizationName

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.
Rows: 1535 Columns: 5
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (3): hashedEmail, start_time, end_time
dbl (2): original_start_time, original_end_time

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

at first we should combine the two tables together by using the hashedEmail
after combine, We are not interested in hashemail, so remove this column,and got a new table named players_sessions

In [96]:
players_sessions <- merge(players,sessions,by="hashedEmail")  |> select(-hashedEmail)

In [95]:
data$original_start_time <- as.POSIXct(data$original_start_time / 1000, origin = "1970-01-01", tz = "GMT-8")
data$original_end_time <- as.POSIXct(data$original_end_time / 1000, origin = "1970-01-01", tz = "GMT-8")

    experience subscribe played_hours name    gender age individualId
1   Regular    TRUE      1.5          Isaac   Male   20  NA
2   Regular    TRUE      5.6          Winslow Male   17  NA
3   Regular    TRUE      5.6          Winslow Male   17  NA
4   Regular    TRUE      5.6          Winslow Male   17  NA
5   Regular    TRUE      5.6          Winslow Male   17  NA
⋮   ⋮          ⋮         ⋮            ⋮       ⋮      ⋮   ⋮
425 Amateur    TRUE      56.1         Dana    Male   23  NA
426 Amateur    TRUE      56.1         Dana    Male   23  NA
427 Amateur    TRUE      56.1         Dana    Male   23  NA
428 Amateur    TRUE      56.1         Dana    Male   23  NA
429 Beginner   TRUE       1.1         Caden   Male   20  NA
    organizationName start_time       end_time         original_start_time
1   NA               23/05/2024 00:22 23/05/2024 01:07 1.71642e+12
2   NA               31/08/2024 22:44 31/08/2024 23:20 1.72514e+12
3   NA               31/08/2024 03:14 31/08/2024 03:59 1.72507e+12
4   NA               30/08/2024 16:18 30/08/2024 16:38 1.72503e+12
5   NA               29/08/2024 04:08 29/08/2024 04:52 1.72490e+12
⋮   ⋮                ⋮                ⋮                ⋮
425 NA               14/06/2024 03:08 14/06/2024 04:02 1.71833e+12
426 NA               12/06/2024 03:25 12/06/2024 04:45 1.71816e+12
427 NA               14/07/2024 05:19 14/07/2024 06:13 1.72093e+12
428 NA               08/07/2024 02:11 08/07/2024 02:24 1.72040e+12
429 NA               26/04/2024 09:11 26/04/2024 10:23 1.71412e+12
    original_end_time original_hours
1   1.71643e+12       2.777778
2   1.72515e+12       2.777778
3   1.72508e+12       2.777778
4   1.72504e+12       2.777778
5   1.72491e+12       2.777778
⋮   ⋮                 ⋮
425 1.71834e+12       2.777778
426 1.71817e+12       2.777778
427 1.72094e+12       2.777778
428 1.72041e+12       2.777778
429 1.71413e+12       2.777778

    experience subscribe played_hours name gender age individualId
1   Amateur    TRUE      56.1         Dana Male   23  NA
2   Amateur    TRUE      56.1         Dana Male   23  NA
3   Amateur    TRUE      56.1         Dana Male   23  NA
4   Amateur    TRUE      56.1         Dana Male   23  NA
5   Amateur    TRUE      56.1         Dana Male   23  NA
⋮   ⋮          ⋮         ⋮            ⋮    ⋮      ⋮   ⋮
306 Amateur    TRUE      56.1         Dana Male   23  NA
307 Amateur    TRUE      56.1         Dana Male   23  NA
308 Amateur    TRUE      56.1         Dana Male   23  NA
309 Amateur    TRUE      56.1         Dana Male   23  NA
310 Amateur    TRUE      56.1         Dana Male   23  NA
    organizationName start_time       end_time         original_start_time
1   NA               03/07/2024 22:33 03/07/2024 22:38 1.72005e+12
2   NA               04/08/2024 18:11 04/08/2024 18:27 1.72280e+12
3   NA               17/08/2024 07:36 17/08/2024 07:42 1.72388e+12
4   NA               17/06/2024 04:39 17/06/2024 04:48 1.71860e+12
5   NA               01/07/2024 23:07 01/07/2024 23:14 1.71988e+12
⋮   ⋮                ⋮                ⋮                ⋮
306 NA               25/06/2024 06:20 25/06/2024 06:26 1.71930e+12
307 NA               25/07/2024 07:38 25/07/2024 07:42 1.72189e+12
308 NA               03/07/2024 06:22 03/07/2024 06:27 1.71999e+12
309 NA               25/07/2024 07:32 25/07/2024 07:36 1.72189e+12
310 NA               28/07/2024 15:36 28/07/2024 15:57 1.72218e+12
    original_end_time
1   1.72005e+12
2   1.72280e+12
3   1.72388e+12
4   1.71860e+12
5   1.71988e+12
⋮   ⋮
306 1.71930e+12
307 1.72189e+12
308 1.71999e+12
309 1.72189e+12
310 1.72218e+12